name: CI
on:
  push:
    branches: main
    paths:
      - '.github/workflows/main.yml'
      - 'action.yml'

  pull_request:
  workflow_dispatch:

jobs:
  ci-test:
    name: Build Kernel
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}

    - name: Build Kernel
      uses: ./
      with:
          kernel-url: https://android.googlesource.com/kernel/common
          kernel-dir: android14-6.1
          kernel-branch: android14-6.1.115_r00
          config: gki_defconfig
          arch: arm64
          aosp-clang: true
          ndk-version: 26.1.10909125
          ksu: true
          ksu-version: main
          android-version: 14
          khack: true
          disable-lto: true
          anykernel3: true
